.checklist {
    text-align:center;     
    width: 320px;
    position: absolute;   
    overflow: hidden;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.13);
    border:1px solid #00000017;  
    font-family:'Reenie Beanie';    
    font-size:15px;     
  }
   
  .yellow{
    background: linear-gradient(135deg, #ffff88 82%,#ffffc6 100%);
    border:1px solid #ffcccc;  
  }

  .blue{
    background: linear-gradient(135deg, #88ddff 82%,#c6f2ff 100%);
    border:1px solid #8bcbff;  
  }

  .green{
    background: linear-gradient(135deg, #88ffe1 82%,#c6ffec 100%);
  }

  .purple{
    background: linear-gradient(135deg, #b688ff 82%,#ccc6ff 100%);
    border:1px solid #b78cfc;  
  }

  .red{
    background: linear-gradient(135deg, #ff8888 82%,#ffc6c6 100%);
    border:1px solid #fa9d9d;  
  }
