.box{
  height: calc(100vh - 125px);
  width: calc(100vw - 50px);
  position: relative; 
  overflow: auto; 
  border: 1px solid black;
  box-shadow: inset 0 0 10px #000000;
}

.draggable-container{
    width: 4000px;
    height: 2000px;
}

.corkboard{
  background-repeat: repeat;
  background-size: initial;
  background-image: url('../../images/corkboardMedium.jpg');
}

.main-container{

  height: 92vh;
  width:100%;
}