body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.yellow{
    background: linear-gradient(135deg, #ffff88 82%,#ffffc6 100%); 
}

.blue{
    background: linear-gradient(135deg, #a2e5ff 82%,#c6f2ff 100%);
}   

.lightgrey{
    background: linear-gradient(rgb(243, 235, 219) );
}  

.cyan{
    background: linear-gradient(135deg, #88ffe1 82%,#c6ffec 100%);
}

.purple{
    background: linear-gradient(135deg, #d7beff 82%,#eae8ff 100%); 
}

.red{
    background: linear-gradient(135deg, #ff9c9c 82%,#ffc6c6 100%);
}

.green{
    background: linear-gradient(135deg, #90ee90 82%,#caffc9 100%);
}

.checklist {
    text-align:center;     
    width: 320px;
    position: absolute;   
    overflow: hidden;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.13);
    border:1px solid #00000017;  
    font-family:'Reenie Beanie';    
    font-size:15px;     
  }

  .image {
    text-align:center;     
    min-height: 280px;
    min-width: 375px;
    max-height: 350px;
    max-width: 375px;
    position: absolute;   
    overflow: hidden;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.13);
    border:1px solid #00000017;  
    font-family:'Reenie Beanie';    
    font-size:15px;     
  }

.sticky-note {
    text-align:center;     
    width: 340px;    
    height:340px;
    position: absolute;  
    overflow: hidden; 
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.13);
    border:1px solid #00000017;  
    font-family:'Reenie Beanie';    
    font-size:15px;     
}

.header-text{
  font-family: "Arial Black", Gadget, sans-serif;
}
.note-text{
  font-size: 18px;
  margin-top: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(73, 73, 73);
}

.box{
    height: calc(100vh - 125px);
    width: calc(100vw - 50px);
    position: relative; 
    overflow: auto; 
    border: 5px solid rgb(151, 92, 14);
    box-shadow: inset 0px 0px 10px #000000;
  }
  
  .draggable-container{
      width: 5560px;
      height: 2700px;
  }
  
  .corkboard{
    background-repeat: repeat;
    background-size: initial;
    background-image: url('../../images/corkboardMedium.jpg');
  }
  
  .wooden-wall{
    height: 100%;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/alexandre-boucher-zZwLBL9W0tE-unsplash.jpg');
  }
  
  .main-container{
    height: 92vh;
    width:100%;
  }

  .misty-forest{
    height: 100%;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/jorge-garcia-9e5bnyDA_gs-unsplash.jpg');
    background-color: #96c4c5;
  }

  .nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #017281;
    padding-left: 10px;
    padding: 0px;
    margin: 0px;
}


.nav {
  overflow: hidden;
  background-color: #7ab2b3;
}

.nav-link {
  float: left;
  color: black;
  background-color: #9bcecf ;
  text-align: center;
  padding: 20px 15px;
  margin: 5px 5px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #01939670;
}

.nav-right {
  float: right;
}

.logo-container{
  display: 'inline-flex';
  width: '10%';
  border-radius: 5px;
}

.logo-container:hover{
  background-color: #01939670;
}