.misty-forest{
    height: 100%;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/jorge-garcia-9e5bnyDA_gs-unsplash.jpg');
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  }